body {
    background-color: #FFFEF1;
    padding: 0;
    margin: 0;

    overflow: hidden;
    
}

.container {
    display: flex;
    min-height: 100vh;

    align-items: center;
    justify-content: center;

    padding-top: 80px;
} 

h1,
h2, 
h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    padding: 0px;
    margin: 0px;
}

/* BREATHING ANIMATIONS */

@keyframes down-right {
    0% {
        -ms-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
        -webkit-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
        transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
    }
    
    50% {
        -ms-transform: rotate(-30deg) skewX(-30deg) translate(140px, 182px) scaleY(0.864);
        -webkit-transform: rotate(-30deg) skewX(-30deg) translate(140px, 182px) scaleY(0.864);
        transform: rotate(-30deg) skewX(-30deg) translate(140px, 182px) scaleY(0.864);
    } 

    100% {
        -ms-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
        -webkit-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
        transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
    }
}

@keyframes down-left {
    0% {
        -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
        -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
        transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
    }
    
    50% {
        -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(78px, -121px);
        -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(78px, -121px);
        transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(78px, -121px);
    } 

    100% {
        -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(67px, -131px);
        -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
        transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
    }
}

@keyframes just-up {
    0% {
        -ms-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
        -webkit-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
        transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
    }
    
    50% {
        -ms-transform: rotate(210deg) skew(-30deg) translate(-190px, -50px) scaleY(0.864);
        -webkit-transform: rotate(210deg) skew(-30deg) translate(-190px, -50px) scaleY(0.864);
        transform: rotate(210deg) skew(-30deg) translate(-190px, -50px) scaleY(0.864);
    } 

    100% {
        -ms-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
        -webkit-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
        transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
    }
}

/* HEXAGON SHAPING AND ANIMATION */

.hexagon-out {
    width: 300px;
    height: 173.205px;
    background: #a3a39e;
    position: absolute;
    margin: 0 0 150px 20px;
    opacity: 0;
    animation: scaleOut 1s cubic-bezier(.36, .11, .89, .32);
}

.hexagon-out::before {
    content: "";
    position: absolute;
    top: -86.6025px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 86.6025px solid #a3a39e;
}

.hexagon-out::after {
    content: "";
    position: absolute;
    bottom: -86.6025px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 86.6025px solid #a3a39e;
}

@keyframes scaleOut {
    from {
      transform: scale(.05, .05);
      opacity: .3;
    }
    to {
      transform: scale(2.5, 2.5);
      opacity: 0;
    }
}

.hexagon-in {
    width: 300px;
    height: 173.205px;
    background: #a3a39e;
    position: absolute;
    margin: 0 0 150px 20px;
    opacity: 0;
    animation: scaleIn 1s cubic-bezier(.36, .11, .89, .32);
}

.hexagon-in::before {
    content: "";
    position: absolute;
    top: -86.6025px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 86.6025px solid #a3a39e;
}

.hexagon-in::after {
    content: "";
    position: absolute;
    bottom: -86.6025px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-top: 86.6025px solid #a3a39e;
}

@keyframes scaleIn {
    from {
        transform: scale(2.4, 2.4);
        opacity: .1;
    }
    to {
        transform: scale(.05, .05);
        opacity: .5;
    }
}

/* START OF CUBE SHAPING AND PLACEMENT */

.face {
    transform-origin: 0 0;
    width: 380px;
    height: 380px;
    position: relative;
    padding: 20px;
}

.left,
.top {
    display: flex;  
    align-items: center;
    justify-content: center;
}

.right {
    background-color: #3A577A;

    -ms-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
    -webkit-transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);
    transform: rotate(-30deg) skewX(-30deg) translate(130px, 172px) scaleY(0.864);

    left: 525px;

    animation: down-right 10s infinite;
    transition-timing-function: ease-in-out;
}

.left {
    background-color: #355070;

    -ms-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
    -webkit-transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);
    transform: rotate(90deg) skewX(-30deg) scaleY(0.864) translate(68px, -131px);

    left: 107px;

    animation: down-left 10s infinite;
    transition-timing-function: ease-in-out;
    animation-delay: .5s;
}

.top {
    background-color: #3F628A;

    -ms-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
    -webkit-transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);
    transform: rotate(210deg) skew(-30deg) translate(-200px, -60px) scaleY(0.864);

    right: 315px;

    animation: just-up 10s infinite;
    transition-timing-function: ease-in-out;
    animation-delay: 1s;
}

h1 {
    color: #FFFEE5;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    line-height: 50px;
}

h2 {
    color: #E4CA6D;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    line-height: 40px;
    margin-top: 20px;
}

.left h3 {
    color: #355070;
    transform: rotate(-90deg);
}

.top h3 {
    color: #3F628A;
    transform: rotate(-270deg);
}

h3 {
    color: transparent;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.15em;
    text-shadow:
    -1px -1px 0 #FFFEE5,  
    1px -1px 0 #FFFEE5,
    -1px 1px 0 #FFFEE5,
    1px 1px 0 #FFFEE5;
}

button {
    background: #F07167;
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 40px;
    padding: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #FFFFFF;
}